@keyframes reveal {
  0% {
    transform: rotateY(0deg);
    font-size: 0;
    background: #2f3c4a;
  }
  50% {
    transform: rotateY(90deg);
    font-size: 0;
    background: #2f3c4a;
  }
  51% {
    transform: rotateY(90deg);
    font-size: 24px;
    background: #00B3E4

  }
  100% {
    transform: rotateY(0deg);
    font-size: 24px;
    background: #00B3E4;
  }
}

@keyframes match {
  0% {
    transform: scale(1, 1);
    font-size: 24px;
    background: #00CDBA;
  }
  30% {
    transform: scale(1.1, 0.8);
  }
  60% {
    transform: scale(1, 1);
  }
  75% {
    transform: scale(1.1, 0.9);
  }
  100% {
    transform: scale(1, 1);
    font-size: 24px;
    background: #00CDBA;
  }
}

@keyframes unmatch {
  0% {
    transform: rotate(0deg);
    font-size: 24px;
    background: #F95B3C;
  }
  10% {
    transform: rotate(-3deg) translate(-8px, 0px);
  }
  20% {
    transform: rotate(3deg) translate(8px, 0px);
  }
  30% {
    transform: rotate(-3deg) translate(-8px, 0px);
  }
  40% {
    transform: rotate(3deg) translate(8px, 0px);
  }
  50% {
    transform: rotate(0deg) translate(0, 0) rotateY(0deg);;
    font-size: 24px;
    background: #F95B3C;
  }
  74% {
    transform: rotateY(90deg);
    font-size: 24px;
    background: #2f3c4a;
  }
  75% {
    transform: rotateY(90deg);
    font-size: 0;
    background: #2f3c4a;
  }
  100% {
    transform: rotateY(0deg);
    font-size: 0;
    background: #2f3c4a;
  }
}

@keyframes slidetoleft {
  from {
    transform: translate3d(0,0,0);
  }
  to {
    transform: translate3d(-50%,0,0);
  }
}

@keyframes slidetoorigin {
  from {
    transform: translate3d(-50%,0,0);
  }
  to {
    transform: translate3d(0%,0,0);
  }
}

@keyframes backbutton {
  0% {
    transform: translate3d(0,0,0);
  }
  25% {
    transform: translate3d(-10px,0,0);
  }
  50% {
    transform: translate3d(0,0,0);
  }
  75% {
    transform: translate3d(-10px,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
