@import 'reset';
@import 'helper';
@import 'general';
@import 'animation';

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;

  header {
    background: #abdce8;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;

      .btn__rank {
        display: none;
        position: absolute;
        left: 32px;
      }

      &__logo {
        color: #fff;
        font-size: 1.5em;
        margin: 0 1em;
      }

      &__title {
        color: #fff;

      }
    }
  }

  section {
    background: #fff;
  }

  aside {
    background: #F9FAFB;
    display: flex;
    z-index: 100;

    .rank {
      display: flex;
      background: #fff;

      .rank__bar {
        display: none;
      }
      .rank__head {
        display: flex;
      }

      .rank__body {

        .rankboard {
          display: flex;

          &__empty-info {
            border-radius: 3px;
            margin: 6px 0;
            font: italic 1em/1.2 Coda;
            text-align: center;
            color: #888;
          }

          &__entry {
            border-radius: 3px;
            text-align: center;
            transition: background 0.2s;


            .rankboard__rank,
            .rankboard__name,
            .rankboard__scores {
              display: inline-block;
              text-align: center;
            }
          }

          &__entry:hover {
            background: #eee;
          }
        }
      }
    }
  }

  main {
    background: url(../img/bg_geometry.png);

    .game {
      display: flex;
      justify-content: center;
      align-items: center;

      .table {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom right, #03cbbe, #a880ce);
        box-shadow: 5px 5px 20px 5px #ccc;

        .card {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-size: 0;
          background: #2f3c4a;
          color: white;
        }

        .card--animation-reveal {
          animation: reveal 0.4s forwards;
        }

        .card--animation-match {
          animation: match 0.6s forwards;
        }

        .card--animation-unmatch {
          animation: unmatch 1s;
        }
      }
    }
  }
}

.board {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #333;
  font-size: 2em;
  transition: all 0.5s;
  z-index: 1000;

  .board__slide {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 100%;

    .board__results {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      background: #fff;

      .board__stars {
        margin: 0.5em 0;
        color: #ffca00;

        i {
          font-size: 2em;
          margin: 0 6px;
        }
      }

      .board__score,
      .board__score span,
      .board__message,
      .board__message span,
      .board__summarize,
      .board__summarize span {
        font: 24px/1.5 Coda;
      }

      .board__summarize {
        color: #888;
        font: 16px/1.5 Coda;
      }

      .board__summarize span {
        color: #888;
        font: 16px/1.5 Coda;
      }

      .btn {
        margin: 1em 1.5em;
      }
    }

    .board__log {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      background: #fff;

      p {
        color: #888;
        font: 24px/1.5 Coda;
      }

      .ipt__text {
        margin: 1em 0;
      }

      .btn__direction {
        position: absolute;
        left: 52%;
      }

      .btn__form {
        margin: 0.5em 0;
      }
    }
  }

  .board__slide--animation-slidetoleft {
    animation: slidetoleft 1.2s forwards;
  }

  .board__slide--animation-slidetoorigin {
    animation: slidetoorigin 1.2s forwards;
  }
}

.board--hide {
  display: none;
}

@media screen and (max-width: 426px) {
  .container {
    flex-flow: column nowrap;

    header {
      flex: 1 1 20%;
      order: 1;
      width: 100%;

      .header {
        width: 100%;
        height: 100%;

        .btn__rank {
          display: block;
          top: -36px;
          left: -36px;
        }

        &__logo {
          display: none;
        }
      }
    }

    section {
      flex: 1 1 20%;
      order: 3;
      width: 100%;
      border-top: 1px solid #eee;

      .panel {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        &__buttons {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          align-items: center;
          flex: 1 1 50%;
          order: 2;
          width: 100%;
        }

        &__counters {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          align-items: center;
          flex: 1 1 50%;
          order: 1;
          width: 100%;
          padding: 0 16px;

          .counter {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            width: 50%;
            height: 100%;
            padding: 0 16px;
          }

          .counter__time {

          }

          .counter__moves {

          }
          span {
            width: 40px;
            text-align: left;
          }

          .play-duration,
          .moves {
            width: 32px;
            text-align: right;
          }
        }
      }
    }

    aside {
      display: none;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      order: 2;
      position: absolute;
      width: 100%;
      height: 100%;
      background: none;

      .rank {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 1em;
        border-radius: 12px;
        box-shadow: 0 3px 20px 0 rgba(0,0,0,0.5);

        .rank__bar {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          align-items: flex-end;
          align-content: flex-end;
          width: 100%;
        }

        .rank__head {
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          height: 32px;

          .rank-heading {
            flex: 1 1 50%;
            font-size: 20px;
            line-height: 32px;
          }
        }

        .rank__body {
          margin: 8px 0;

          .rankboard {
            flex-flow: column wrap;

            &__entry {
              width: 200px;
              height: 28px;

              .rankboard__rank {
                width: 16px;
                line-height: 28px;
              }

              .rankboard__name {
                width: 144px;
                line-height: 28px;
              }

              .rankboard__scores {
                width: 40px;
                line-height: 28px;
              }
            }
          }
        }
      }
    }

    main {
      flex: 1 1 60%;
      order: 2;
      width: 100;

      .game {
        width: 100%;
        height: 100%;

        .table {
          width: 290px;
          padding: 5px;
          border-radius: 8px;
          margin: 0 auto;

          .card {
            width: 60px;
            height: 60px;
            margin: 5px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .container {
    flex-flow: column nowrap;

    header {
      flex: 1 1 10%;
      order: 1;
      width: 100%;

      .header {
        width: 100%;
        height: 100%;

        .btn__rank {
          display: block;
        }
      }
    }

    section {
      flex: 1 1 10%;
      order: 3;
      width: 100%;
      border-top: 1px solid #eee;

      .panel {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        &__buttons {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          align-items: center;
          width: 40%;
          // margin: 0 36px;
        }

        &__counters {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          align-items: center;
          width: 60%;
          // margin: 0 30px;

          .counter {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            width: 120px;
            height: 40px;
            // margin: 0 30px;
          }

          .counter__time {

          }

          .counter__moves {

          }
          span {
            width: 50px;
            text-align: left;
          }

          .play-duration,
          .moves {
            width: 32px;
            text-align: right;
          }
        }
      }
    }

    aside {
      display: none;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      order: 2;
      position: absolute;
      width: 100%;
      height: 100%;
      background: none;

      .rank {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding: 1em;
        border-radius: 12px;
        box-shadow: 0 3px 20px 0 rgba(0,0,0,0.5);

        .rank__bar {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          align-items: flex-end;
          align-content: flex-end;
          width: 100%;
        }

        .rank__head {
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          height: 32px;

          .rank-heading {
            flex: 1 1 50%;
            font-size: 20px;
            line-height: 32px;
          }
        }

        .rank__body {
          margin: 8px 0;

          .rankboard {
            flex-flow: column wrap;

            &__entry {
              width: 200px;
              height: 28px;

              .rankboard__rank {
                width: 16px;
                line-height: 28px;
              }

              .rankboard__name {
                width: 144px;
                line-height: 28px;
              }

              .rankboard__scores {
                width: 40px;
                line-height: 28px;
              }
            }
          }
        }
      }
    }

    main {
      flex: 1 1 80%;
      order: 2;
      width: 100;

      .game {
        width: 100%;
        height: 100%;

        .table {
          width: 370px;
          padding: 5px;
          border-radius: 10px;
          margin: 0 auto;

          .card {
            width: 80px;
            height: 80px;
            margin: 5px;
            border-radius: 8px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    flex-flow: row wrap;

    header {
      flex: 1 1 100%;
      order: 1;
      height: 10%;

      .header {
        height: 100%;
      }
    }

    section {
      flex: 1 1 100%;
      order: 3;
      height: 10%;
      border-top: 1px solid #eee;

      .panel {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;

        &__buttons {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          width: 180px;
          margin: 0 36px;
        }

        &__counters {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          margin: 0 30px;

          .counter {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            width: 120px;
            height: 40px;
            margin: 0 30px;
          }

          .counter__time {

          }

          .counter__moves {

          }
          span {
            width: 50px;
            text-align: left;
          }

          .play-duration,
          .moves {
            width: 32px;
            text-align: right;
          }
        }
      }
    }

    aside {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      flex: 1 1 35%;
      order: 2;
      height: 80%;

      .rank {
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 1em;
        border-radius: 12px;
        box-shadow: 0 3px 10px 1px #ddd;

        .rank__head {
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          height: 32px;

          .rank-heading {
            flex: 1 1 50%;
            font-size: 20px;
            line-height: 32px;
          }
        }

        .rank__body {
          margin: 8px 0;

          .rankboard {
            flex-flow: column wrap;

            &__entry {
              width: 200px;
              height: 28px;

              .rankboard__rank {
                width: 16px;
                line-height: 28px;
              }

              .rankboard__name {
                width: 144px;
                line-height: 28px;
              }

              .rankboard__scores {
                width: 40px;
                line-height: 28px;
              }
            }
          }
        }
      }
    }

    main {
      flex: 1 1 65%;
      order: 2;
      height: 80%;

      .game {
        width: 100%;
        height: 100%;

        .table {
          width: 500px;
          height: 500px;
          padding: 10px;
          border-radius: 12px;
          margin: 0 auto;
          box-shadow: 5px 5px 10px 3px #ccc;

          .card {
            width: 100px;
            height: 100px;
            margin: 10px;
            border-radius: 6px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .container {
    flex-flow: row wrap;

    header {
      flex: 1 1 100%;
      order: 1;
      height: 10%;

      .header {
        height: 100%;
      }
    }

    section {
      flex: 1 1 25%;
      order: 2;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      height: 90%;
      border-right: 1px solid #eee;


      .panel {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        height: 70%;

        &__buttons {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;
          align-items: center;
          flex: 1 1 70%;
          width: 100%;
        }

        &__counters {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;
          align-items: center;
          flex: 1 1 30%;
          width: 100%;

          .counter {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            width: 120px;
            height: 40px;
          }

          .counter__time {

          }

          .counter__moves {

          }
          span {
            width: 50px;
            text-align: left;
          }

          .play-duration,
          .moves {
            width: 32px;
            text-align: right;
          }
        }
      }
    }

    aside {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      flex: 1 1 25%;
      order: 3;
      height: 90%;

      .rank {
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 1em;
        border-radius: 12px;
        box-shadow: 0 3px 10px 1px #ddd;

        .rank__head {
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          height: 32px;

          .rank-heading {
            flex: 1 1 50%;
            font-size: 20px;
            line-height: 32px;
          }
        }

        .rank__body {
          margin: 8px 0;

          .rankboard {
            flex-flow: column wrap;

            &__entry {
              width: 200px;
              height: 28px;

              .rankboard__rank {
                width: 16px;
                line-height: 28px;
              }

              .rankboard__name {
                width: 144px;
                line-height: 28px;
              }

              .rankboard__scores {
                width: 40px;
                line-height: 28px;
              }
            }
          }
        }
      }
    }

    main {
      flex: 1 1 50%;
      order: 2;
      height: 90%;

      .game {
        width: 100%;
        height: 100%;

        .table {
          width: 500px;
          height: 500px;
          padding: 10px;
          border-radius: 12px;
          margin: 0 auto;

          .card {
            width: 100px;
            height: 100px;
            margin: 10px;
            border-radius: 6px;
          }
        }
      }
    }
  }
}
